Make sure that the following jars are present while writing the code as they are required by the HBase.

    commons-loging-1.0.4
    commons-loging-api-1.0.4
    hadoop-core-0.20.2-cdh3u2
    hbase-0.90.4-cdh3u2
    log4j-1.2.15
    zookeper-3.3.3-cdh3u0

